body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: Arial;
  font-size: 24px;
  background-color: beige;
}

.navbar-inverse .navbar-brand{
  color: #13EAB0;
}

.navbar-inverse .navbar-brand:hover{
  color: #5E5E5E;
}

.jumbotron{
  background-color: yellow;
  font-family: sans-serif;
  text-align: center;
}

.jumbotron{
  font-family: "Times New Roman", Times, serif;
}

.jumbotron h1{
  font-size: 30px;
}

.jumbotron p{
  font-size: 20px;
}

.carousel{
  padding-bottom: 100px;
}

.site-footer{
  text-align: center;
  background-color: gray;
  position: fixed;
  padding-bottom: 0px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.site-footer h4{
  color: #40ffff;
}

.site-footer p{
	color: #ffffff;
}
