body {
  background-color: blue;
}
header {
  background-color: yellow;
}
header h1{
  font-size: 30px;
  color: green;
  font-family: sans-serif;
}
nav{
  background-color: grey;
}
#menu li{
  display: inline;
  font-size: 24px;
  color: white;
}
