body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-color: beige;
}

.navbar-inverse .navbar-brand{
  color: #13EAB0;
}

.navbar-inverse .navbar-brand:hover{
  color: #5E5E5E;
}

.navbar-inverse .navbar-nav>li>a{
  color: rgb(218, 24, 242);
}

.jumbotron{
  background-color: yellow;
  font-family: sans-serif;
  text-align: center;
}

.jumbotron p{
  font-family: "Times New Roman", Times, serif;
}

.jumbotron h1{
  font-size: 30px;
}

.jumbotron p{
  font-size: 20px;
}

.skills p{
  font-weight: bold;
}

.site-footer{
  text-align: center;
  background-color: gray;
  position: absolute;
  padding-bottom: 0px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.site-footer h4{
  color: #40ffff;
}

.site-footer p{
	color: #ffffff;
}

.site-footer ul li{
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
    .site-footer{
      position: absolute;
    }
}
